#wrapper{
    width: 1400px;
}

.logo_block{
    display: inline-block;
    position: relative;
    width: 600px;
    margin-bottom: 4em;
}

.logo{
}

.color_icon{
    position: absolute;
    top:66%;
}

/* entire container, keeps perspective */
.flip-container, .flip-container_l {
    margin: 0 auto;
}

.flip-container, .flip-container_l, .front, .back {
    width: 185px;
    height: 185px;
    margin: 0.3em;
    display: inline-block;
}

.flip-container_l{
    padding: 1em;
}

/* flip speed goes here */
.flipper {
    transition: 0.6s;
    transform-style: preserve-3d;
    position: relative;
    cursor: pointer;
}

/* hide back of pane during swap */
.front, .back {
    backface-visibility: hidden;

    position: absolute;
    top: 0;
    left: 0;
}

/* front pane, placed above back */
.front {
    z-index: 2;
    /* for firefox 31 */
    transform: rotateY(0deg);
}

/* back, initially hidden pane */
.back {
    transform: rotateY(180deg);
}

.difficulty{
}

.players{
    display: none;
}

.level, .level_block{
    display: none;
}

.disable .flipper{
    opacity: 0.2;
    cursor: auto;
}

.new_game:hover{
    cursor: pointer;
    color: #808080;
}

.two{
    display: block;
    margin: 2em 0 2em 0;
}

@-webkit-keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1;  }
}

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

@-webkit-keyframes fadeOut {
    from { opacity: 1;
        height: initial;}
    to { opacity: 0;
        height: 0;}
}

@keyframes fadeOut {
    from { opacity: 1; height: initial;}
    to { opacity: 0;
        height: 0;
    }
}

.bgCover{
    opacity: 0.4;
}

.overlayBox{
    background: none;
    color: #FFFFFF;
    font-size: 22px;
}

.overlayBox img{
    margin: 1em 2em;
    cursor: pointer;
}