body{
    overflow:hidden;
}

#wrapper{
    width: 1400px;
}

#header_wrapper{
    position: relative;
    z-index: 1;
}

#rope{
    width: 200px;
    position: fixed;
    right: 0;
    height: 15%;
    display: none;
    z-index: 2;
}

#rope img{
    position: relative;
    height: 100%;
    top: -20px;
    cursor: pointer;
}

#success_balls{
    width: 200px;
    position: fixed;
    right: 0;
    bottom: 0;
    height: 85%;
}

#game_menu{
    display: none;
    padding-top: 1.9em;
    position: absolute;
    width: 296px;
    height: 95px;
    right: 0;
    background-color: #000000;
    overflow: hidden;
    z-index: 2;
    white-space: nowrap;
}

#menu-g{
    display: none;
    position: relative;
    width: 80px;
    cursor: pointer;
    top: -35px;
}



.success_b{
    position: relative;
}

.logo_block{
    display: inline-block;
    position: relative;
    width: 550px;
    margin-bottom: 4em;
}

.level_block{
    position: relative;
    z-index: 100;
}

.level img{
    max-width: 100%;
    height: 142px;
}

.anim_space{
    height: 150px;
    width: 150px;
    top: 50px;
    left: -140px;
    display: none;
    position: absolute;
}

.anim_space2{
    height: 150px;
    width: 150px;
    right: 20px;
    display: none;
    position: absolute;
}

.anim_square{
    height: 150px;
    width: 150px;
    top: 50px;
    left: 25px;
    display: none;
    position: absolute;
}

.anim_circle{
    height: 116px;
    width: 116px;
    display: none;
    top: 60px;
    right: 70px;
    position: absolute;
    z-index: 100;
}

.logo{
}

.color_icon{
    position: absolute;
    top: -40px;
}

/* entire container, keeps perspective */
.flip-container,.flip-container_l, .front, .back {
    display: inline-block;
}

.flip-container, .flip-container_l {
    margin: 0.3em;
}

.flip-container_l{
    padding-bottom: 1em;
}

.flip-container{
    display: none;
    position: absolute;
    top: 0;
    left: 0;
}

.front, .back{
    margin: 0px;
}

.back img{
    margin-left: 0.65rem;
}

/* flip speed goes here */
.flipper {
    transition: 0.6s;
    transform-style: preserve-3d;
    position: relative;
    cursor: pointer;
    max-width: 200px;
    width: 90%;
}

.flipper img{
    height: auto;
    max-width: 100%;
}

/* hide back of pane during swap */
.front, .back {
    backface-visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
}

/* front pane, placed above back */
.front {
    z-index: 2;
    /* for firefox 31 */
    transform: rotateY(0deg);
}

/* back, initially hidden pane */
.back {
    transform: rotateY(180deg);
}

.difficulty{
}

.players{
    display: none;
}

.level{
    position: relative;
    height: 142px;
}

.level, .level_block{
    display: none;
}

.disable .flipper{
    opacity: 0.2;
    cursor: auto;
}

.new_game:hover{
    cursor: pointer;
    color: #808080;
}

.two{
    display: block;
    margin: 2em 0 2em 0;
}

@-webkit-keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1;  }
}

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

@-webkit-keyframes fadeOut {
    from { opacity: 1;
        height: initial;}
    to { opacity: 0;
        height: 0;}
}

@keyframes fadeOut {
    from { opacity: 1; height: initial;}
    to { opacity: 0;
        height: 0;
    }
}

@keyframes fly {
    0% {
        -ms-transform: scale(0.25) rotate(140deg);
        -webkit-transform: scale(0.25) rotate(140deg);
        transform: scale(0.25) rotate(140deg);
    }

    100% {
        /*710*/
        -ms-transform: scale(0.5) rotate(360deg);
        -webkit-transform: scale(0.5) rotate(360deg);
        transform: scale(0.5) rotate(360deg);
    }
}

@keyframes rotate20_m {
    0% {
        -ms-transform: rotateZ(-8deg);
        -webkit-transform: rotateZ(-8deg);
        transform: scale(0.25) rotateZ(-8deg);
    }

    100% {
        -ms-transform: rotateZ(-20deg);
        -webkit-transform: rotateZ(-20deg);
        transform: rotateZ(-20deg);
    }
}

@keyframes rotate20 {
    0% {
        -ms-transform: rotateZ(8deg);
        -webkit-transform: rotateZ(8deg);
        transform: scale(0.25) rotateZ(8deg);
    }

    100% {
        -ms-transform: rotateZ(20deg);
        -webkit-transform: rotateZ(20deg);
        transform: rotateZ(20deg);
    }
}

.unil_card {
    width: 200px;
    height: 200px;
    position: absolute;
    left: 440px;
    top: 60px;
    transform: scale(0.25);
    background-image: url("../images/memory/unil_back_200.png");
}

.pile, .pile2{
    width: 182px;
    height: 182px;
    position: absolute;
    z-index: 10;
}

.bar{
    background-image: url("../images/game/bar.png");
    position: absolute;
    height: 5px;
    width: 180px;
    display: block;
    left: 1%;
    bottom: 10px;
}

.bgCover{
    opacity: 0.4;
}

.overlayBox{
    background: none;
    color: #FFFFFF;
    font-size: 22px;
}

.overlayBox img{
    margin: 1em 2em;
    cursor: pointer;
}

.card_line{
    position: relative;
    margin: 0 auto;
}

.memory{
    float: left;
    z-index: 20;
}

.clear{
    clear: both;
}

#select_dif{
    cursor: pointer;
}