.menuOverlay {
    z-index: 999;
}

.overlay_menu{
    font-family: 'fundamental_brigade';
}

.overlay_menu .back_arrow{
    display: block;
    height: 32px;
    width: 32px;
    margin: 0 auto;
    position: relative;
    right: 230px;
    opacity: 0;
}

/* entire container, keeps perspective */
.overlay_menu .flip-container {
    margin: 1em;
    position: relative;
}

.overlay_menu .flip-container, .overlay_menu .o-front, .overlay_menu .o-back {
    width: 185px;
    min-height: 185px;
    display: inline-block;
}

/* flip speed goes here */
.overlay_menu .flipper {
    transition: 0.6s;
    transform-style: preserve-3d;
    position: relative;
    cursor: pointer;
    height: auto;
}

.overlay_menu .flipper img {
    width: 100%;
    height: auto;
}

/* hide o-back of pane during swap */
.overlay_menu .o-front, .overlay_menu .o-back {
    backface-visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
}

/* o-front pane, placed above o-back */
.overlay_menu .o-front {
    z-index: 2;
    /* for firefox 31 */
    transform: rotateY(0deg);
}

/* o-back, initially hidden pane */
.overlay_menu .o-back {
    transform: rotateY(180deg);
}

.overlay_menu .body_wrap, .overlay_menu .menu_line, .overlay_menu .menu-line .flip-container {
    position: relative;
}

.overlay_menu #understand{
    border: #848587 solid;
    width: 180px;
    border-radius: 10px;
    padding: 39px 0;
}

.overlay_menu #comprendre{
    font-size: 25px;
    letter-spacing: 4px;
    position: relative;
    top: -43px;
    text-align: center;
    left: 1px;

}

video{
    cursor: pointer;
}