.menuOverlay{
    z-index: 999;
}

.overlay_menu .back_arrow{
    display: block;
    height: 32px;
    width: 32px;
    margin: 0 auto;
    position: relative;
    right: 230px;
    opacity: 0;
}

/* entire container, keeps perspective */
.overlay_menu .flip-container {
    margin: 1em;
    position: relative;
}

.overlay_menu .flip-container, .overlay_menu .front, .overlay_menu .back {
    width: 185px;
    min-height: 185px;
    display: inline-block;
}

/* flip speed goes here */
.overlay_menu .flipper {
    transition: 0.6s;
    transform-style: preserve-3d;
    position: relative;
    cursor: pointer;
    height: auto;
}

.overlay_menu .flipper img{
    width: 100%;
    height: auto;
}

/* hide back of pane during swap */
.overlay_menu .front, .overlay_menu .back {
    backface-visibility: hidden;

    position: absolute;
    top: 0;
    left: 0;
}

/* front pane, placed above back */
.overlay_menu .front {
    z-index: 2;
    /* for firefox 31 */
    transform: rotateY(0deg);
}

/* back, initially hidden pane */
.overlay_menu .back {
    transform: rotateY(180deg);
}

.overlay_menu .body_wrapper, .overlay_menu .menu_line, .overlay_menu .menu-line .flip-container{
    position: relative;
}