title{
	color: #123456;
}

#wrapper{
    width: 950px;
    margin: 0 auto;
}

body {
    font-family: 'fundamental__brigade_schwerRg';
    margin:0px;
    padding:0px;
    text-align:center;
    font-size: 17px;
    color: #FFFFFF;
    background-color: #000000;
}

nav ul{
    margin: 0;
    padding: 0;
    list-style: none;
    list-style-image: none;
}

nav ul li{
    margin-top: 2px;
    display: inline-block;
    padding-left: 60px;
    padding-right: 60px;
    height: 3em;
    width: 4.5em;
    padding-top: 5em;
    padding-bottom: 2em;
    background-repeat: no-repeat;
    background-position: center;
}

nav ul li a{
    color: #A4A5A7;
}

header{
    padding-top: 2em;
    height: 53px;
}

footer{
    font-family: Helvetica, Arial, sans-serif;
    margin-top: 5em;
    height: 42px;
}

footer span{
    position: relative;
    bottom: -13px;
}

#footer_wrapper{

    margin: 2em 0 1em 0;
}

a{
    text-decoration: none;
    color: #FFFFFF;
}

a.active{
    color: #30539E;
}

a:hover{
    color: #30539E;
}

ul{
    margin: 0;
    padding: 0;
    list-style: none;
    list-style-image: none;
}

ul#header_links{
    height: 20px;
    margin-bottom: 1em;
}

ul#header_links li{
    margin-top: 2em;
    display: inline-block;
}

ul#header_links li a{
    height: 2em;
    width: 2em;
}

#useful_links_top{
    position: relative;
    margin-top: 1.9em;
}

#useful_links_top li{
    display: inline-block;
}

.disc{
    list-style: decimal;
    padding: 0 6em 0 6em;
    text-align:left;
}

.square{
    list-style: decimal;
    padding: 0 8em 0 8em;
    text-align:left;
}

.quoi_image{
    display: block;
    margin: 0 auto;
}

#quoi_images{
    text-align: center;
}

.clean{
    margin-top: 0.5em;
    margin-right: 0.5em;
    float: right;
}

ul#useful_links_bot{
    position: relative;
    margin-top: -1.9em;
}

ul#useful_links_bot li{
    display: inline-block;
    margin-top: -15.5em;
}

article p{

    margin: 0 3.5em 0 3.5em;
    text-align:left;
}

.register, .comment_full_screen{
    float: right;
    margin: 2em 2em 0 -1.5em;
    padding-top: 0.2em;

}

.comment_full_screen{
    z-index: 3;
}

#full_screen{
    float: right;
    margin-right: 1em;
    padding-bottom: 5em;
    z-index: 5;
}

#download{
    float: left;
    margin-left: 1em;
    padding-bottom: 5em;
    z-index: 5;
}

#full_screen:hover, #download:hover{
    cursor: pointer;
}

#answer{
    position: absolute;
}

#phonetic{
    width: 800px;
    padding-top: 4em;
    margin: 0 auto;
}

#enter{
    background-color: #BFBFBF;
    border-bottom: none;
}

#result{

}

.entry_blocks{
    height: 200px;
}

.copyright{
    float: left;
    width: 20px;
    margin-left: 1em;
}

.email{
    float: right;
    width: 20px;
    margin-right: 1em;
}

.logo{
    padding-top: 1.5em;
}

.comment a{
    background-image: url(../images/comment.png);
}

.comment a:hover{
    cursor: hand;
    background-image: url(../images/comment_hover.png);
}

.colorier a{
    background-image: url(../images/main.png);
}

.colorier a:hover{
    cursor: hand;
    background-image: url(../images/main_hover.png);
}

.pourquoi a{
    background-image: url(../images/quoi.png);
}

.pourquoi a:hover{
    cursor: hand;
    background-image: url(../images/quoi_hover.png);
}

.comment a, .colorier a, .pourquoi a{
    display:block;
    text-indent:-9999em;
    background-repeat: no-repeat;
    background-position: center bottom;
    height: 51px;
}

.all_black{
    background-color: #696969;
}

.readmore-js-toggle{
    display: block;
    text-align: left;
    margin: 0 3.5em 0 5em;
    color: #8B8B8B;
    text-decoration: underline;
}

.readmore-js-toggle:hover{
    color: #535353;
}

/* Search */

.search_form, .search_output{

    margin: 0 auto;
    width: 700px;
    height: 150px;
    resize: none;
    font-family: 'fundamental__brigade_schwerRg';
    font-weight: normal;
    font-size: 40px;
    border: none;
}

.search_form{

    height: 120px;
    line-height: 95%;
    background-color: #BFBFBF;
    color: #FFFFFF;
    letter-spacing: 1px;
}

.search_output{

    background-color: #000000;
}

.reply{
    position: relative;
    top: 1.7em;
}

/* END Search */

/* Overlay copyright box */

.bgCover{
    background-color: #fff;
    position: absolute;
    left: 0;
    top: 0;
    display: none;
    overflow: hidden;
    z-index: 100;
}

.overlayBox{
    background: #C0C0C0;
    color: #000;
    font-family: Arial;
    font-size: 15px;
    position: absolute;
    display: none;
    width: 500px;
    height: 300px;
    z-index: 101;
    line-height:120%;

}

.closeOverlay{
    position: relative;
    width: 16px;
    height: 16px;
    left: 47%;
    top: 5px;

}

/* END Overlay copyright box */

/* Video */

.video{

    margin-top: 6em;
}

.video_skip{

    float: right;
}

/* END Video */

/* Canvas */

.scroll_canvas{
    position: relative;
    width: 700px;
    height: 148px;
    overflow-y: auto;
    overflow-x: hidden;
    margin: 0 auto;
}

#c{
    margin-top: 2em;
    cursor: pointer;
}

:-webkit-full-screen {

    background-color: #000000;
}

/* END Canvas */

.why_body{

    width: 800px;
    margin: 0 auto;
    margin-top: 5em;
    color: #000000;
    font-family: 'fundamental__brigade_schwerRg';
    font-size: 17px;
    background-color: #BFBFBF;
    border: 1px solid #FFFFFF;
    line-height: 150%;
}

.reference{
   font-size: 11px;
   text-align: left;
   margin: 0 4.5 0 7.8em;
}

::-webkit-scrollbar {
    width: 12px;
}
::-webkit-scrollbar-track {
    background-color: #aaa;
    border-left: 1px solid #aaa;
}
::-webkit-scrollbar-thumb {
    background-color: #eaeaea;
}
::-webkit-scrollbar-thumb:hover {
    background-color: #FFFFFF;
}