@font-face{

    font-family: 'Fundamental_Brigade', sans-serif;
    src: url('fonts/Fundamental_Brigade.ttf') format('truetype');
}

title{
	color: #123456;
}

#wrapper{
    width: 950px;
    margin: 0 auto;
}

body {
    font-family: 'Fundamental_Brigade', sans-serif;
    margin:0px;
    padding:0px;
    text-align:center;
    font: 13px Arial, Helvetica, sans-serif;
    font-size: 13px;
    color: #FFFFFF;
    background-color: #000000;
}

nav ul{
    margin: 0;
    padding: 0;
    list-style: none;
    list-style-image: none;
}

nav ul li{
    margin-top: 2px;
    display: inline-block;
    padding-left: 60px;
    padding-right: 60px;
    height: 3em;
    width: 4.5em;
    padding-top: 7em;
    background-repeat: no-repeat;
    background-position: center;
}

header{
    padding-top: 2em;
    height: 53px;
    //background: transparent url(../images/logo.png) no-repeat center;
}

footer{
    margin-top: 5em;
    height: 42px;
    //background: transparent url(../images/bottom.png) no-repeat center;
}

footer span{
    position: relative;
    bottom: -13px;
}

a{
    text-decoration: none;
    color: #FFFFFF;
}

a.active{
    color: #30539E;
}

a:hover{
    color: #30539E;
}

ul{
    margin: 0;
    padding: 0;
    list-style: none;
    list-style-image: none;
}

ul#header_links li{
    margin-top: 2px;
    display: inline-block;
}

ul#header_links li a{
    height: 2em;
    width: 2em;
}

ul#useful_links_top{
    position: relative;
    margin-top: 1.9em;
}

ul#useful_links_top li{
    display: inline-block;
}

.clean{
    margin-top: 0.5em;
    margin-right: 0.5em;
    float: right;
}

ul#useful_links_bot{
    position: relative;
    margin-top: -1.9em;
}

ul#useful_links_bot li{
    display: inline-block;
    margin-top: -0.2em;
}

.register{
    float: left;
    margin-left: 0.5em;
    padding-top: 0.2em;
}

#full_screen{
    float: right;
    margin-right: 0.3em;
}

#answer{
    position: absolute;
}

#phonetic{
    width: 800px;
    padding-top: 4em;
    margin: 0 auto;
}

#enter{
    background-color: #BFBFBF;
    border: 1px solid #FFFFFF;
    border-bottom: none;
}

#result{
    border: 1px solid #FFFFFF;
}

.entry_blocks{
    height: 200px;
}

.copyright{
    float: left;
}

.email{
    float: right;
}

.logo{
    padding-top: 2em;
}

.comment{
    background-image: url(../images/comment.png);
}

.colorier{
    background-image: url(../images/colorier.png);
}

.pourquoi{
    background-image: url(../images/pourquoi.png);
}

.all_black{
    background-color: #696969;
}

/* Overlay copyright box */

.bgCover{
    background-color: #fff;
    position: absolute;
    left: 0;
    top: 0;
    display: none;
    overflow: hidden;
    z-index: 100;
}

.overlayBox{
    background: #C0C0C0;
    color: #000;
    font-family: 'Fundamental_Brigade', sans-serif;
    font-size: 15px;
    border: 2px solid #000;
    position: absolute;
    display: none;
    width: 500px;
    height: 300px;
    z-index: 101;
    line-height:120%;

}

.closeOverlay{
    position: relative;
    width: 16px;
    height: 16px;
    left: 47%;
    top: 5px;

}

/* END Overlay copyright box */

/* Canvas */

#c{
    margin-top: 5em;
}

/* END Canvas */

.why_body{

    width: 800px;
    margin: 0 auto;
    margin-top: 5em;
    color: #000000;
    font-family: 'Fundamental_Brigade', sans-serif;
    font-size: 15px;
    background-color: #BFBFBF;
    border: 1px solid #FFFFFF;
    line-height: 150%;
}