.logo_block{
    display: inline-block;
    position: relative;
    width: 600px;
    margin-bottom: 4em;
}

.logo{
}

/* entire container, keeps perspective */
.flip-container, .flip-container_l {
    margin: 0 auto;
}

.flip-container, .flip-container_l, .front, .back {
    width: 185px;
    height: 185px;
    margin: 0.3em;
    display: inline-block;
}

.flip-container_l{
    padding: 1em;
}

/* flip speed goes here */
.flipper {
    transition: 0.6s;
    transform-style: preserve-3d;
    position: relative;
    cursor: pointer;
}

/* hide back of pane during swap */
.front, .back {
    backface-visibility: hidden;

    position: absolute;
    top: 0;
    left: 0;
}

/* front pane, placed above back */
.front {
    z-index: 2;
    /* for firefox 31 */
    transform: rotateY(0deg);
}

/* back, initially hidden pane */
.back {
    transform: rotateY(180deg);
}


.disable .flipper{
    opacity: 0.2;
    cursor: auto;
}

#canvas{
    margin-top: 4em;
}

#decadade{
    display: none;
    font-family: fundamental__brigade_schwerRg;
    width: 800px;
    text-align: center;
    font-size: 50px;
    outline: none;
    border: 0;
    color: #FFFFFF;
    background: #000000;
    letter-spacing: 33px;
    text-transform: uppercase;
    position: relative;
    left: 10px;
}

.draggable {
    width: 100px;
    height: 100px;
    padding: 0.5em;
    float: left;
    margin: 10px 10px 10px 0;
}

.bgCover{
    opacity: 0.4;
}

.overlayBox{
    background: none;
    color: #FFFFFF;
    font-size: 22px;
}

.overlayBox img{
    margin: 1em 2em;
    cursor: pointer;
}

.player_won{
    font-size: 40px;
}

@-webkit-keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1;  }
}

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

@-webkit-keyframes fadeOut {
    from { opacity: 1;
        height: initial;}
    to { opacity: 0;
        height: 0;}
}

@keyframes fadeOut {
    from { opacity: 1; height: initial;}
    to { opacity: 0;
        height: 0;
    }
}

@keyframes fly {
    0% {
        transform: scale(0.25) rotate(0deg);
    }

    100% {
        /*710*/
        transform: scale(0.8) rotate(720deg);
    }
}

.trouver-card{
    width: 100px;
    height: 100px;
}

.unil_card {
    width: 182px;
    height: 182px;
    position: absolute;
    left: 440px;
    top: 60px;
    transform: scale(0.25);
    background-image: url("../images/memory/unil_back_200.png");
}