body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1440px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:0px;
  width:1440px;
  height:687px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1440px;
  height:687px;
}
#u1 {
  position:absolute;
  left:2px;
  top:336px;
  width:1436px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:535px;
  top:35px;
  width:380px;
  height:75px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  height:75px;
}
#u3 {
  position:absolute;
  left:2px;
  top:30px;
  width:376px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:220px;
  top:276px;
  width:250px;
  height:250px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:250px;
}
#u5 {
  position:absolute;
  left:2px;
  top:117px;
  width:246px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:298px;
  top:238px;
  width:100px;
  height:28px;
  color:#FFFFFF;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:28px;
}
#u7 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  white-space:nowrap;
}
#u8 {
  position:absolute;
  left:600px;
  top:276px;
  width:250px;
  height:250px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:250px;
}
#u9 {
  position:absolute;
  left:2px;
  top:117px;
  width:246px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:697px;
  top:238px;
  width:73px;
  height:28px;
  color:#FFFFFF;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:28px;
}
#u11 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u12 {
  position:absolute;
  left:1020px;
  top:276px;
  width:250px;
  height:250px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:250px;
}
#u13 {
  position:absolute;
  left:2px;
  top:117px;
  width:246px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:1092px;
  top:238px;
  width:106px;
  height:28px;
  color:#FFFFFF;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:28px;
}
#u15 {
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  white-space:nowrap;
}
#u16 {
  position:absolute;
  left:1050px;
  top:50px;
  width:120px;
  height:120px;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:120px;
}
#u17 {
  position:absolute;
  left:2px;
  top:52px;
  width:116px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:1140px;
  top:50px;
  width:120px;
  height:120px;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:120px;
}
#u19 {
  position:absolute;
  left:2px;
  top:52px;
  width:116px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:10px;
  top:4px;
  width:50px;
  height:41px;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:41px;
}
#u21 {
  position:absolute;
  left:2px;
  top:12px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22 {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:687px;
  overflow:hidden;
  visibility:hidden;
}
#u22_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:687px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u22_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u23 {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:690px;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:690px;
}
#u24 {
  position:absolute;
  left:2px;
  top:337px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u25 {
  position:absolute;
  left:12px;
  top:72px;
  width:68px;
  height:28px;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:28px;
}
#u26 {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  white-space:nowrap;
}
#u27 {
  position:absolute;
  left:30px;
  top:130px;
  width:152px;
  height:23px;
  font-size:20px;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  height:23px;
}
#u28 {
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  white-space:nowrap;
}
#u29 {
  position:absolute;
  left:30px;
  top:177px;
  width:47px;
  height:23px;
  font-size:20px;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:23px;
}
#u30 {
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  white-space:nowrap;
}
#u31 {
  position:absolute;
  left:30px;
  top:227px;
  width:93px;
  height:23px;
  font-size:20px;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:23px;
}
#u32 {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  white-space:nowrap;
}
#u33 {
  position:absolute;
  left:30px;
  top:278px;
  width:111px;
  height:23px;
  font-size:20px;
}
#u33_img {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:23px;
}
#u34 {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  white-space:nowrap;
}
#u35 {
  position:absolute;
  left:10px;
  top:4px;
  width:50px;
  height:41px;
}
#u35_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:41px;
}
#u36 {
  position:absolute;
  left:2px;
  top:12px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u37 {
  position:absolute;
  left:1275px;
  top:70px;
  width:33px;
  height:33px;
}
#u37_img {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:33px;
}
#u38 {
  position:absolute;
  left:2px;
  top:8px;
  width:29px;
  visibility:hidden;
  word-wrap:break-word;
}
#u39 {
  position:absolute;
  left:1188px;
  top:-1px;
  width:252px;
  height:40px;
}
#u39_img {
  position:absolute;
  left:0px;
  top:0px;
  width:252px;
  height:40px;
}
#u40 {
  position:absolute;
  left:2px;
  top:12px;
  width:248px;
  visibility:hidden;
  word-wrap:break-word;
}
#u41 {
  position:absolute;
  left:1210px;
  top:12px;
  width:39px;
  height:14px;
  font-size:12px;
}
#u41_img {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:14px;
}
#u42 {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  white-space:nowrap;
}
#u43 {
  position:absolute;
  left:1188px;
  top:0px;
  width:124px;
  height:39px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
