@CHARSET "ISO-8859-1";


	@font-face {
		font-family: 'SourceSansProBold';
		src: url('./SourceSansPro-fontfacekit/SourceSansPro-Bold-webfont.eot');
		src: url('./SourceSansPro-fontfacekit/SourceSansPro-Bold-webfont.eot?#iefix') format('embedded-opentype'),
			 url('./SourceSansPro-fontfacekit/SourceSansPro-Bold-webfont.woff') format('woff'),
			 url('./SourceSansPro-fontfacekit/SourceSansPro-Bold-webfont.ttf') format('truetype'),
			 url('./SourceSansPro-fontfacekit/SourceSansPro-Bold-webfont.svg#SourceSansProBold') format('svg');
		font-weight: normal;
		font-style: normal;

	}


	 body {
		width: 100%;	
		margin: 0;
		background: black;
	}
	 
	 div#entete {
		width: 100%;
		margin: 10px;
		height: 100px;
		center-align;
		font-size:48px;
		background: black;
	}
	
	 div#saisie{
	 top: 10px;
	 width: 90%;
	 }
	 
	 div#erreur{
	 	width: 80%;
		overflow:auto; 
		color: red;
		border-color: red;
		border-style: dashed;
		border-width: 3px;
		padding: 8px;
		margin: 10px;
		background-position: bottom right;
		background-repeat: no-repeat;
		scrollbar-base-color: #ff8c00;
		scrollbar-arrow-color: white;
	 }
	 
	 textarea {
		width: 90%;
		min-height: 200px;
		overflow:auto; 
		border-color: blue;
		border-style: solid;
		border-width: thin;
		padding: 3px;
		padding: 5px;
		font-family: Tahoma, sans-serif;
		background-position: bottom right;
		background-repeat: no-repeat;
		scrollbar-base-color: #ff8c00;
		scrollbar-arrow-color: white;
	}
	
		div#reponseDessous {
		position: relative; 
		width: 100%;
		font-size:36px;
	}	

#bloc_dessous1{position: absolute;left: 10px;top: 10px;width: 5200px;height: 50px;padding: 0px;z-index: 1; background: black;}
#bloc_dessus1{position: absolute;left: 10px;top: 10px; width: 5200px;height: 35px;padding: 0px;z-index: 2;overflow: hidden;}
#bloc_dessous2{position: absolute;left: 10px;top: 58px;width: 5200px;height: 50px;padding: 0px;z-index: 1;background: black;}
#bloc_dessus2{position: absolute;left: 10px;top: 58px;width: 5200px;height: 35px;padding: 0px;z-index: 2;overflow: hidden;}
#bloc_dessous3{position: absolute;left: 10px;top: 106px;width: 5200px;height: 50px;padding: 0px;z-index: 1; background: black;}
#bloc_dessus3{position: absolute;left: 10px;top: 106px;width: 5200px;height: 35px;padding: 0px;z-index: 2;overflow: hidden;}
#bloc_dessous4{position: absolute;left: 10px;top: 154px;width: 5200px;height: 50px;padding: 0px;z-index: 1; background: black;}
#bloc_dessus4{position: absolute;left: 10px;top: 154px;width: 5200px;height: 35px;padding: 0px;z-index: 2;overflow: hidden;}
#bloc_dessous5{position: absolute;left: 10px;top: 202px;width: 5200px;height: 50px;padding: 0px;z-index: 1; background: black;}
#bloc_dessus5{position: absolute;left: 10px;top: 202px;width: 5200px;height: 35px;padding: 0px;z-index: 2;overflow: hidden;}
#bloc_dessous6{position: absolute;left: 10px;top: 250px;width: 5200px;height: 50px;padding: 0px;z-index: 1; background: black;}
#bloc_dessus6{position: absolute;left: 10px;top: 250px;width: 5200px;height: 35px;padding: 0px;z-index: 2;overflow: hidden;}
#bloc_dessous7{position: absolute;left: 10px;top: 298px;width: 5200px;height: 50px;padding: 0px;z-index: 1; background: black;}
#bloc_dessus7{position: absolute;left: 10px;top: 298px;width: 5200px;height: 35px;padding: 0px;z-index: 2;overflow: hidden;}

	.couleur0 {  color:E4AAFF ; } 
	.white {  color:#FFFFFF ; } 
	.couleur54 {  color:#EAADEA ; } 
	.couleur18 {  color:#DB9370 ; } 
	.couleur10 {  color:#8C1717 ; } 
	.couleur26 {  color:#00FF7F ; } 
	.couleur42 {  color:#6B8E23 ; } 
	.couleur2 {  color:#D9D919 ; } 
	.couleur12 {  color:#426F42 ; } 
	.couleur4 {  color:#0000FF ; } 
	.couleur8 {  color:#CD7F32 ; } 
	.couleur24 {  color:#DBDB70 ; } 
	.couleur46 {  color:#32CD32 ; } 
	.couleur28 {  color:#00FFFF ; } 
	.couleur6 {  color:#6B4226 ; } 
	.couleur38 {  color:#FF7F00 ; } 
	.couleur22 {  color:#871F78 ; } 
	.couleur14 {  color:#8E6B23 ; } 
	.couleur48 {  color:#9932CD ; } 
	.couleur20 {  color:#BC8F8F ; } 
	.couleur36 {  color:#5959AB ; } 
	.couleur44 {  color:#3299CC ; } 
	.couleur40 {  color:#545454 ; } 
	.couleur34 {  color:#7FFF00 ; } 
	.couleur50 {  color:#FF0000 ; } 
	.couleur16 {  color:#FF00FF ; } 
	.couleur52 {  color:#CC3299 ; } 
	.couleur30 {  color:#7F00FF ; } 
	.couleur32 {  color:#8F8F8D ; } 